body {
  font-family: "Poppins", sans-serif;
}
.adjust-width {
  width: 100%;
}
.container {
  padding: 100px 170px;
}
.animated-btn {
  transition: all 0.3s ease-in-out;
}
.animated-btn:hover {
  background-color: transparent;
  border: solid #462cb3 2px;
  color: #462cb3;
}
header .animated-btn:hover {
  background-color: transparent;
  border: solid #fff 2px;
  color: #fff;
}

header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.7)
    ),
    url("../media/lublin-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  /* line-height: 144px; */
  margin: 0;
  max-width: 80vw;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 84px;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}
header a {
  text-decoration: none;
  color: #272044;
  background-color: #fff;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.7)
    ),
    url("../media/lublin-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
footer ul {
  list-style: none;
  opacity: 0.7;
  padding: 0;
}
footer a {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer p {
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer .grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 60px;
  padding: 50px 170px 30px;
}
footer .github-link {
  text-align: center;
  padding-bottom: 40px;
}
footer .github-link a {
  opacity: 1;
  font-weight: bold;
}

main {
  color: #272044;
}
main .why-lublin .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

main img {
  max-width: 100%;
  height: auto;
}
main .img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin: 7px 0;
}
main h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main .places-cards {
  background-color: #f8f8f8;
}
main .places-cards .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  padding: 0 80px 170px;
}
main .places-cards .card {
  background-color: #fff;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  max-width: 433.2px;
  max-height: fit-content;
}
main .places-cards .card:hover {
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
  scale: 1.1;
}
main .places-cards .card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main .card-grid iframe {
  width: 215px;
  height: 149.8px;
}
main .card-grid img {
  width: 215px;
  height: 149.8px;
  min-width: 100%;
}

main .places-cards h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 24px 0 8px;
}
main .places-cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  margin: 8px 0;
}
main .places-cards h6 {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  margin: 24px 0 0;
}
main .places-cards .card-text {
  margin: 30px;
}
main .places-cards a {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #462cb3;
  text-decoration: none;
  width: 306px;
  height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid transparent 2px;
}
main .places-cards .learn-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
}
main .places-cards h3 {
  text-align: center;
  margin: 7px 0 50px;
}
main .places-cards h5 {
  text-align: center;
  padding-top: 100px;
}

main .lublin-photos {
  text-align: center;
}
main .lublin-photos .photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 50px;
}
main .lublin-photos .photo {
  transition: all 0.3s ease-in-out;
}
main .lublin-photos .photo:hover {
  scale: 1.3;
}

@media (max-width: 1300px) {
  main .why-lublin .grid {
    grid-template-columns: 1fr;
  }
  main .lublin-photos .photo-grid {
    grid-template-columns: 1fr 1fr;
  }
  footer .grid {
    padding: 50px 50px 30px;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 50px;
  }

  header h1 {
    font-size: 46px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 20px;
  }

  main .why-lublin .grid {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  main .places-cards .grid {
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 0 80px 70px;
    justify-content: center;
    align-items: center;
  }

  main .places-cards .card {
    max-width: 80vw;
    max-height: fit-content;
  }

  main .places-cards .card-grid {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .castle {
    background-image: url("/media/tourist-attractions/lublin-castle.jpg");
  }
  .village {
    background-image: url("/media/tourist-attractions/village-museum.jpg");
  }
  .old-town {
    background-image: url("/media/tourist-attractions/old-town.jpg");
  }

  main .places-cards h5 {
    text-align: center;
    padding-top: 60px;
  }

  main .lublin-photos .photo-grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-top: 50px;
  }

  footer .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 50px 30px;
  }
  footer .github-link {
    padding: 0 30px 40px;
  }
}

@media (max-width: 500px) {
  main .places-cards .card .embed {
    display: none;
  }
  main .places-cards .card-grid img {
    display: grid;
    grid-template-columns: 1fr;
    width: 80vw;
    height: fit-content;
  }
}
